@model Firmeza.Core.Entities.Rental

@{ ViewData["Title"] = "Edit Rental"; }

<h2>Edit Rental</h2>
<hr />

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label">Vehicle</label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.Vehicles"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-4">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}